# Default ignored files
/../../3Dmuseum /.idea/shelf/
/../../3Dmuseum /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../3Dmuseum /.idea/httpRequests/
# Datasource local storage ignored files
/../../3Dmuseum /.idea/dataSources/
/../../3Dmuseum /.idea/dataSources.local.xml
